In [14]:
library(tidyverse)
library(repr)
library(readxl)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [15]:
read_excel("data/birds.xlsx", sheet = "AVONET1_BirdLife")

Warning message:
“Expecting numeric in A4995 / R4995C1: got 'NA'”
Warning message:
“Expecting numeric in A5255 / R5255C1: got 'NA'”
Warning message:
“Expecting numeric in A5265 / R5265C1: got 'NA'”
Warning message:
“Expecting numeric in A5276 / R5276C1: got 'NA'”
Warning message:
“Expecting numeric in A6700 / R6700C1: got 'NA'”
Warning message:
“Expecting numeric in A6746 / R6746C1: got 'NA'”
Warning message:
“Expecting numeric in A7296 / R7296C1: got 'NA'”
Warning message:
“Expecting numeric in A7302 / R7302C1: got 'NA'”
Warning message:
“Expecting numeric in A7329 / R7329C1: got 'NA'”
Warning message:
“Expecting numeric in A7354 / R7354C1: got 'NA'”

      Sequence Species1              Family1      Order1
1     3103     Accipiter albogularis Accipitridae Accipitriformes
2     3090     Accipiter badius      Accipitridae Accipitriformes
3     3125     Accipiter bicolor     Accipitridae Accipitriformes
⋮     ⋮        ⋮                     ⋮            ⋮
11007 3255     Trogon surrucura      Trogonidae   Trogoniformes
11008 3252     Trogon violaceus      Trogonidae   Trogoniformes
11009 3247     Trogon viridis        Trogonidae   Trogoniformes
      Avibase.ID1      Total.individuals Female Male Unknown Complete.measures
1     AVIBASE-BBB59880  5                2      0    3       4
2     AVIBASE-1A0ECB6E 10                4      6    0       8
3     AVIBASE-ADBE44E1 11                4      5    2       8
⋮     ⋮                ⋮                 ⋮      ⋮    ⋮       ⋮
11007 AVIBASE-8F2D3109  4                 2      2   0        4
11008 AVIBASE-2123574A 28                11     16   1       14
11009 AVIBASE-BA2F0BFD 16                 7      8   1        8
      ⋯ Habitat.Density Migration Trophic.Level Trophic.Niche Primary.Lifestyle
1     ⋯ 1               2         Carnivore     Vertivore     Insessorial
2     ⋯ 2               3         Carnivore     Vertivore     Insessorial
3     ⋯ 2               2         Carnivore     Vertivore     Generalist
⋮     ⋱ ⋮               ⋮         ⋮             ⋮             ⋮
11007 ⋯ 1               1         Carnivore     Invertivore   Insessorial
11008 ⋯ 1               1         Herbivore     Frugivore     Insessorial
11009 ⋯ 1               1         Omnivore      Frugivore     Insessorial
      Min.Latitude Max.Latitude        Centroid.Latitude    Centroid.Longitude
1     -11.73       -4.0199999999999996 -8.15                158.49
2     -29.47       46.39               8.23                 44.98
3     -55.72       23.73               -10.1                -59.96
⋮     ⋮            ⋮                   ⋮                    ⋮
11007 -31.18       -10.87              -23.08               -51.01
11008 -15.61       22.29               -0.56999999999999995 -66.12
11009 -26.94       10.84               -4.75                -60.54
      Range.Size
1     37461.21
2     22374973
3     14309701.27
⋮     ⋮
11007 1366931
11008 7284998.29
11009 7907953.7599999998